<!DOCTYPE html>
<html>
<head>
	<title>アンケートアプリ</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'questionary_results', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'questionary_results', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<%= yield %>
</body>
</html>